<div>
  <app-back-button link="/panel/estudiante"></app-back-button>
</div>

<br>

<div class="m-4">
  <h3 class="text-center">DATOS PERSONALES</h3>
  <div class="p-4">

    <div class="text-center">
      
      <img src= "https://pespringboots3bucket.s3.amazonaws.com/{{curriculum.rutaImagen}}"  alt="{{curriculum.cedula + curriculum.nombres + curriculum.apellidos}}"     width="250" height="250"> 
      
     </div>
     <br>

    <table class="table table-light  table-striped-columns">
      <tbody>
      <tr>
        <td>CEDULA:</td>
        <td>{{curriculum.cedula}}</td>
        <td>FECHA NACIMIENTO:</td>
        <td>{{curriculum.fechaNacimiento}}</td>
      </tr>
      <tr>
        <td>NOMBRES:</td>
        <td>{{curriculum.nombres}}</td>
        <td>APELLIDOS</td>
        <td>{{curriculum.apellidos}}</td>
      </tr>
      <tr>
        <td>GENERO:</td>
        <td>{{curriculum.genero}}</td>
        <td>CIUDAD:</td>
        <td>{{curriculum.ciudad.nombre}}</td>
      </tr>
      <tr>
        <td>DIRECCION:</td>
        <td>{{curriculum.direccion}}</td>
        <td>ESTADO CIVIL:</td>
        <td>{{curriculum.estadoCivil}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="m-4">
  <h3 class="text-center">PREFERENCIAS LABORALES</h3>
  <div class="p-4">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">SECTOR EMPRESARIAL</th>
        <th scope="col">TIEMPO</th>
        <th scope="col">SALARIO</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let preferenciaempleos of preferenciasempleo">
        <td>{{preferenciaempleos.sector_empresarial}}</td>
        <td>{{preferenciaempleos.tiempo}}</td>
        <td>{{preferenciaempleos.salario}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="m-4">
  <h3 class="text-center">PERFIL OCUPACIONAL</h3>
  <div class="p-4">
    <table class="table table-light  table-striped-columns">
      <tbody>
      <tr>
        <td>HABILIDADES:</td>
        <td>{{perfilOcupacional.habilidades}}</td>
        <td>DESTREZAS:</td>
        <td>{{perfilOcupacional.destrezas}}</td>
        <td>ACTITUDES:</td>
        <td>{{perfilOcupacional.actitudes}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="m-4">
  <h3 class="text-center">INSTRUCCION FORMAL</h3>
  <div class="p-4">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ANIO</th>
        <th scope="col">TITULO</th>
        <th scope="col">ISTITUCION EDUCATIVA</th>
        <th scope="col">NIVEL</th>
        <th scope="col">AREA ESTUDIO</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let educaciones of educacion">
        <td>{{educaciones.anio}}</td>
        <td>{{educaciones.titulo}}</td>
        <td>{{educaciones.institucion_educativa}}</td>
        <td>{{educaciones.nivel}}</td>
        <td>{{educaciones.area_estudio}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="m-4">
  <h3 class="text-center">CAPACITACIONES</h3>
  <div class="p-4">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">AREA ESTUDIO</th>
        <th scope="col">ISTITUCION</th>
        <th scope="col">TIPO CAPACITACION</th>
        <th scope="col">TIPO CERTIFICADO</th>
        <th scope="col">NUMERO HORAS</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let capacitacion of capacitaciones">
        <td>{{capacitacion.nombre_capacitacion}}</td>
        <td>{{capacitacion.area_estudio}}</td>
        <td>{{capacitacion.institucion}}</td>
        <td>{{capacitacion.tipoCapacitacion}}</td>
        <td>{{capacitacion.tipoCertificado}}</td>
        <td>{{capacitacion.numHoras}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="m-4">
  <h3 class="text-center">LOGROS</h3>
  <div class="p-4">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ANIO</th>
        <th scope="col">TITULO</th>
        <th scope="col">ISTITUCION EDUCATIVA</th>
        <th scope="col">NIVEL</th>
        <th scope="col">AREA ESTUDIO</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let educaciones of educacion">
        <td>{{educaciones.anio}}</td>
        <td>{{educaciones.titulo}}</td>
        <td>{{educaciones.institucion_educativa}}</td>
        <td>{{educaciones.nivel}}</td>
        <td>{{educaciones.area_estudio}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="m-4">
  <h3 class="text-center">REFERENCIAS PROFESIONALES</h3>
  <div class="p-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ISTITUCION</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">TELEFONO</th>
        <th scope="col">EMAIL</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let referenciaprofesional of referenciaProfesional">
        <td>{{referenciaprofesional.institucion}}</td>
        <td>{{referenciaprofesional.nombre}}</td>
        <td>{{referenciaprofesional.telefono}}</td>
        <td>{{referenciaprofesional.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="m-4">
  <h3 class="text-center">REFERENCIAS PERSONAL</h3>
  <div class="p-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">TELEFONO</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let referenciapersonales of referenciaPersonal">
        <td>{{referenciapersonales.nombre}}</td>
        <td>{{referenciapersonales.telefono}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


