.card {
  width: 270px;
  transition: 0.5s all ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.5);
}

h5 {
  text-transform: uppercase;
}

.button-container {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  justify-content: flex-end;
}