<app-title title="Mi Perfil"></app-title>
<div class="container-fluid p-0">
  <div class="d-flex flex-column profile-header">
    <div class="profile-header__background"></div>
    <div class="d-flex align-items-center">
      <img
        class="profile-header__img"
        src="../../../../assets/icons/profile_icon.svg"
        alt="profile"
        width="100px"
      />
      <div class="d-flex flex-column profile-header__info">
        <h4 class="fw-bolder mb-1">Perfil</h4>
        <small class="text-muted fst-italic">Actualiza tu información</small>
      </div>
    </div>
  </div>
  <div class="profile-body mt-5 px-5">
    <form ngNativeValidate (ngSubmit)="registrarUsuario()">
      <div class="d-flex mb-4 border-bottom pb-3">
        <label for="username" class="form-label w-25">Username</label>
        <input
          type="text"
          class="form-control w-50"
          id="username"
          name="username"
          [(ngModel)]="usuario.username"
          required
        />
      </div>
      <div class="d-flex mb-4 border-bottom pb-3">
        <label for="password" class="form-label w-25">Password</label>
        <input
          type="password"
          class="form-control w-50"
          id="password"
          name="password"
          placeholder="Nueva contraseña"
          [(ngModel)]="usuario.password"
        />
      </div>

      <div class="d-flex mb-4 border-bottom pb-3">
        <label for="email" class="form-label w-25">Email</label>
        <input
          type="email"
          class="form-control w-50"
          id="email"
          name="email"
          [(ngModel)]="usuario.email"
          required
        />
      </div>

      <div class="d-flex mb-4 border-bottom pb-3">
        <label for="telefono" class="form-label w-25">Teléfono</label>
        <input
          type="tel"
          class="form-control w-50"
          id="telefono"
          name="telefono"
          [(ngModel)]="usuario.telefono"
          required
        />
      </div>
      <div class="d-flex options justify-content-end w-75 gap-3">
        <button type="button" class="btn btn-light" (click)="cancel()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-dark">Guardar</button>
      </div>
    </form>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-danger"
        (click)="eliminarUsuario(usuario.id)"
      >
        <i class="bi bi-exclamation-triangle-fill"></i> Eliminar Cuenta
      </button>
    </div>
  </div>
</div>
