<app-title title="Mi Perfil Ocupacional"></app-title>
<app-student-info-clip [idEstudiante]="estudiante_id"></app-student-info-clip>
<div class="card" *ngIf="getperfil.id != 0; else addOption">
  <div class="card-body">
    <div class="d-flex">
      <div class="w-75">
        <span class="d-block pb-2"><strong>Habilidades: </strong>{{ getperfil.habilidades }} </span>

        <span class="d-block pb-2"><strong>Actitudes: </strong>{{ getperfil.actitudes }} </span>

        <span class="d-block pb-2"><strong>Destrezas: </strong>{{ getperfil.destrezas }} </span>
      </div>
      <div class="d-flex align-items-center justify-content-center w-25">
        <button
          class="btn btn-warning"
          [routerLink]="
            '/panel/estudiante/perfilOcupacional/form/' + getperfil.id
          "
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-pen-fill"></i> Editar
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #addOption>
  <app-add-option link="/panel/estudiante/perfilOcupacional/form">
  </app-add-option>
</ng-template>

<div class="text-center">
  <app-back-button link="/panel/estudiante"></app-back-button>
</div>
