<div class="side-nav-content">
  <ul class="nav-list" [ngClass]="{ 'nav-list-open': sideNavStatus }">
    <li class="nav-list-item" *ngFor="let item of menuItems">
      <i class="{{ item.iconClass }}"></i>
      <span>
        <a routerLink="{{ item.link ? item.link : null }}">{{ item.title }}</a>
      </span>
    </li>
    <li class="nav-list-item">
      <i class="{{ logOutItem.iconClass }}"></i>
      <span>
        <a (click)="logOutItem.method ? logOutItem.method() : null">{{
          logOutItem.title
        }}</a>
      </span>
    </li>
  </ul>
</div>
