<app-title title="Ofertas Aplicadas - Postulantes"></app-title>


<div class="d-flex justify-content-center flex-column align-items-center">
  <div
    *ngFor="let postulacion of postulaciones; index as i"
    class="card mb-3 p-2">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-start align-items-center">
            <img
              class="border rounded me-2 p-2"
              src="../../../../assets/icons/note_task_icon.svg"
              width="75px"
            />
            <div class="d-flex flex-column w-100">
              <h4 class="text-uppercase">
                Oferta # {{i + 1}} - Datos Oferta
              </h4>
              <H6 class="text-uppercase">
                {{ofertasLaboralesInfo[i]?.cargo}}
              </H6>
              <small class="text-muted fst-italic"
              ><strong><i class="bi bi-clock"></i></strong
              >{{ofertasLaboralesInfo[i]?.jornada}}</small
              >
              <small class="text-muted fst-italic"
              ><strong> <i class="bi bi-geo-alt"></i></strong
              >{{estudiantesPostulados[i]?.ciudad}}</small
              >
            </div>
          </div>
          <p class="py-3 m-0">
            {{ofertasLaboralesInfo[i]?.descripcion}}</p>
        </div>
      </div>
      <div class="col-md-4 ps-2 border-start">
        <div class="d-flex justify-content-between align-items-center h-100">
          <div class="d-flex flex-column h-100">
            <span><h4 class="text-uppercase">Datos Estudiante</h4>
              <i
                class="bi bi-person"></i> {{estudiantesPostulados[i]?.nombres + ' ' + estudiantesPostulados[i]?.apellidos}}
              </span>
            <span
            ><i class="bi bi-card-list"></i>
              {{'C.I: ' + estudiantesPostulados[i]?.cedula}}
              </span>
            <span
            ><i class="bi bi-geo-alt-fill"></i>
              {{estudiantesPostulados[i]?.direccion + '-' + estudiantesPostulados[i]?.ciudad}}
              </span>

            <button class="btn btn-outline-success" routerLink="/panel/empresa/ofertasAplicadas/empresa/{{idemp}}/{{estudiantesPostulados[i]?.id}}"  >Ver CV</button>

            <br>

            <span class="badge {{ estadoPostulacionStyle(postulacion.estado) }}"
            >{{ postulacion.estado }}</span
            >
          </div>
          <div
            class="d-flex flex-column justify-content-between h-100 align-items-end"
          >
            <i class="bi bi-clipboard2-minus text-warning fs-1 " title="En revision" (click)="estadoRevision(i)"></i>
            <i class="bi bi-clipboard2-check text-success fs-1 " title="Aprobado" (click)="estadoAprobado(i)"></i>
            <i class="bi bi-clipboard2-x text-danger fs-1 delete" title="No Aprobado" (click)="estadoNoAprobado(i)"></i>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
