<app-title title="Datos Personales"></app-title>
<!-- <p>{{ estudiante | json }}</p> -->
<form class="row g-4" ngNativeValidate (ngSubmit)="registrarEstudiante()">
  <div class="col-lg-3 col-md-6">
    <label for="nombre" class="form-label text-uppercase">Nombres</label>
    <input
      type="text"
      class="form-control"
      name="nombres"
      id="nombre"
      [(ngModel)]="estudiante.nombres"
      required
    />
  </div>
  <div class="col-lg-3 col-md-6">
    <label for="apellidos" class="form-label text-uppercase">Apellidos</label>
    <input
      type="text"
      class="form-control"
      id="apellidos"
      name="apellidos"
      [(ngModel)]="estudiante.apellidos"
      required
    />
  </div>
  <div class="col-lg-3 col-md-6">
    <label for="cedula" class="form-label text-uppercase">Cédula</label>
    <input
      type="text"
      class="form-control"
      id="cedula"
      placeholder="01010101010"
      name="cedula"
      maxlength="10"
      (change)="validateCedula(estudiante.cedula)"
      [(ngModel)]="estudiante.cedula"
      required
    />
    <small *ngIf="!cedulaValidator" class="text-danger"
      >Cédula ingresada no válida</small
    >
  </div>

  <div class="col-lg-3 col-md-6 text-uppercase">
    <label for="inputAddress2" class="form-label text-uppercase">Género</label>
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="masculino"
          value="M"
          checked
          [(ngModel)]="estudiante.genero"
        />
        <label class="form-check-label" for="masculino">M</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="femenino"
          value="F"
          [(ngModel)]="estudiante.genero"
        />
        <label class="form-check-label" for="femenino">F</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="otro"
          value="Otro"
          [(ngModel)]="estudiante.genero"
        />
        <label class="form-check-label" for="otro">Otro</label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <label for="fnacimiento" class="form-label text-uppercase"
      >F. Nacimiento</label
    >
    <input
      type="date"
      class="form-control"
      id="fnacimiento"
      name="fnacimiento"
      [(ngModel)]="estudiante.fechaNacimiento"
      required
    />
  </div>
  <div class="col-md-4">
    <label for="ciudad" class="form-label text-uppercase">Ciudad</label>
    <select
      id="ciudad"
      name="ciudad"
      class="form-select"
      [(ngModel)]="estudiante.ciudad"
      required
    >
      <option value="" disabled selected="selected">
        Selecciona una ciudad
      </option>
      <option [value]="ciudad.nombre" *ngFor="let ciudad of ciudades">
        {{ ciudad.nombre }}
      </option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="estadoCivil" class="form-label text-uppercase"
      >Estado Civil</label
    >
    <select
      id="estadoCivil"
      name="estadoCivil"
      class="form-select"
      [(ngModel)]="estudiante.estadoCivil"
      required
    >
      <option value="" disabled selected>Selecciona tu estado civil</option>
      <option [value]="estadoCivil" *ngFor="let estadoCivil of estadosCivil">
        {{ estadoCivil }}
      </option>
    </select>
  </div>
  <div class="col-lg-5 col-md-12 text-uppercase">
    <label for="direccion" class="form-label text-uppercase">Dirección</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      name="direccion"
      placeholder="Calle Gran Colombia"
      [(ngModel)]="estudiante.direccion"
    />
  </div>

  <div class="col-lg-5 col-md-12 text-uppercase">
    <label for="direccion" class="form-label text-uppercase"
      >Foto de Perfil</label
    >
    <div *ngIf="estudiante.urlImagen != null || estudiante.urlImagen != ''">
      <img [src]="estudiante.urlImagen" alt="perfil" width="100" height="100" />
    </div>
  </div>

  <div class="wrapper">
    <div class="position-relative">
      <h3>Subir Foto de perfil</h3>
      <input class="input-file" (change)="capturarFile($event)" type="file" />
      <div class="preview-img" *ngIf="previsualizacion">
        <button class="clear-image" type="button" (click)="clearImage()">
          Cancelar
        </button>
        <img [src]="previsualizacion" alt="" width="100" height="100" />
      </div>

      <div class="p-1">
        <small>Se aceptan archivos de tipo imágen </small>
      </div>
      <div class="wrapper-button" *ngIf="previsualizacion">
        <button
          type="button"
          class="btn btn-dark"
          [disabled]="loading"
          (click)="subirArchivo()"
        >
          {{ loading ? "Cargando....." : "Guardar Foto de perfil" }}
        </button>
      </div>
    </div>
  </div>

  <div
    class="col-12 text-center d-flex justify-content-center align-items-center gap-3"
  >
    <button
      type="button"
      class="btn btn-dark text-uppercase px-4 py-2 mt-3"
      routerLink="/panel/estudiante"
    >
      Regresar
    </button>
    <button
      type="submit"
      class="btn btn-dark text-uppercase px-4 py-2 mt-3"
      [disabled]="!cedulaValidator"
    >
      Registrar
    </button>
  </div>
</form>
